extends layout

block content
  link(rel='stylesheet', href='/stylesheets/index.css')
  script(src='/plotly.min.js')
  div(class="container")
    div(class='navbar')
      h1(class='project-name') 
        b Yet another NGSPICE frontend project
    div(class="row")
      div(class="col-lg-6")
        form(role="form")
          div(class="form-group editorArea")
            textarea(class="form-control", id="netlist", rows="15")
              | * This is code area
              | * Author: Xing GUO
              | * Date: 2018-04-23
              |
              | * Netlist Connection Information
              | r1  in out 1k
              | c1  out gnd 10u
              | v1  in gnd pwl(0m 0 0.5m 5 50m 5 50.5m 0 100m 0)
              |
              | * Analysis information
              | .tran 10e-03 100e-03 0e-03
              |
              | * Please do not remove this line
              | .control
              | 	run
              | .endc
              | .end
            textarea(class="form-control", id="plotOption", rows="2") v(in) v(out)
        div(class="buttonArea")
          button(id="run-code", class="btn btn-success", style='margin-right: 5px') Run Code
          button(id="save-netlist", class="btn btn-success", style='margin-right: 5px') Save Netlist
          button(id="clear-plot", class="btn btn-danger", style='margin-right: 5px') Clear Plots
      div(id="graph col-lg-6 col-lg-offset-8", style='width: 500px; height: 500px', class="col-lg-6")
        div(class="plot", id="plot", style='margin-top: 10px;')
        div(id="messages")
          div(class="fromServer alert alert-danger", role='alert') Server acknowledgement goes here
  //- scripts
  script(src='/socket.io/socket.io.js')
  - let socket_url = socket_conf;
  //- socket things
  script.
    let socket = io.connect('#{socket_url}');
    // connect succeed
    socket.on('loading-page', function (data) {
      socket.emit('socket-id', { socket_id: socket.id });
    });
  //- plotly.js things
  script.
    var trace1 = {
      x: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      y: [10, 15, 13, 17, 10, 15, 13, 17],
      type: 'scatter'
    };

    var trace2 = {
      x: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
      y: [10, 15, 13, 1, 10, 15, 13, 1],
      type: 'scatter'
    };

    var data = [trace1, trace2];

    Plotly.newPlot('plot', data);
