doctype html
html
  head
    title= 'Node ❤️ NGSPICE'
    link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/jquery.slim.min.js')
    script(src='/umd/popper.min.js')
    script(src='/js/bootstrap.min.js')
  body
    
    block content
  footer(style='margin-top: 20px;')
    div(class="footer-copyright py-3 text-center")
      span © 2018 
      a(href="https://higuoxing.com")
        strong Higuoxing &nbsp;
      span designed with ❤️
