doctype html
html
  head
    title= 'Node ❤️ NGSPICE'
    link(rel="shortcut icon", type="image/png", href="/images/favicon.png")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/jquery.slim.min.js')
    script(src='/umd/popper.min.js')
    script(src='/js/bootstrap.min.js')
  body
    a(href="https://github.com/higuoxing/node-ngspice")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="/images/forkme_right_darkblue_121621.png", alt="Fork me on GitHub")
    
    block content
  footer(style='margin-top: 10px;')
    div(class="footer-copyright py-3 text-center")
      span © 2018 
      a(href="https://higuoxing.com")
        strong Higuoxing &nbsp;
      span designed with ❤️
