doctype html
html
  head
    title= 'Node ❤️ NGSPICE'
    link(rel="shortcut icon", type="image/png", href="/images/favicon.png")

    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css", integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js", integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js", integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm", crossorigin="anonymous")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js')

  body
    nav(class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand" href="#") NGSPICE Playground
      button(class="navbar-toggler btn", type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarNav")
        ul(class="navbar-nav mr-auto")
          li(class='nav-item active')
            a(class="nav-link", href="#") Home
          li(class='nav-item active')
            a(class="nav-link", href="#") Tutorial
          li(class='nav-item active')
            a(class="nav-link", href="#") Examples
          li(class='nav-item dropdown active')
            a(a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Documents
            div(class="dropdown-menu", aria-labelledby="navbarDropdownMenuLink")
              a(class="dropdown-item", href="#") 简体中文
              a(class="dropdown-item", href="#") 繁體中文
              a(class="dropdown-item", href="#") English
        iframe(src="https://ghbtns.com/github-btn.html?user=higuoxing&repo=node-ngspice&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px")
    block content
  footer(style='margin-top: 0px;')
    div(class="footer-copyright py-3 text-center")
      span © 2018 
      a(href="https://github.com/higuoxing")
        strong Higuoxing &nbsp;
      span designed with ❤️
    <!-- Global site tag (gtag.js) - Google Analytics -->
  script(async src="https://www.googletagmanager.com/gtag/js?id=UA-111257861-2")
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111257861-2');
