/*
 * file: index.css
 **/

 body {
   background-color: #fdf6e3;
   padding: 0px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }

 .project-name {
   margin-top: 10px;
   color: #aaaaaa;
 }

.container {
  margin-top: 0px;
}

textarea {
    font-family: monospace;
}

.form-control {
  margin-top: 10px;
}

.buttonArea {
  margin-top: 10px;
}

.option-title {
  margin-top: 10px;
}

.terminal-title,
.editor-title,
.plot-area,
.option-title {
  font-size: 20px;
}

.terminal-text-area {
  background-color: #ffffff;
}
